.login-containter {
    background-color: #ffefe5;
    padding: 1rem;
}

#login-input-container {
    z-index: 1;
}

.login-containter .card {
    position: relative;
    min-height: calc(100vh - 167px);
    border-radius: 4px;
}

.login-containter .card-img-top {
    height: 120px;
    object-fit: contain;
}

.login-containter .form-control {
    border-radius: 3px;
    padding: 0.5rem 1rem;
}

.login-containter .form-control.is-invalid {
    border-color: #f25042;
}

::placeholder {
    font-size: 14px;
}

.login-containter .btn-lg {
    font-size: small;
    border-radius: 3px;
}

.intl-tel-input,
.iti--separate-dial-code {
    width: 100%;
}

.iti__country-list {
    /* width: 26.1rem; */
    border-radius: 3px;
}

.iti-mobile .iti--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-input {
    font-size: 12px;
}

#mobile-otp input,
#email-otp input {
    padding: 0.53rem;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
#mobile-otp input::-webkit-outer-spin-button,
#mobile-otp input::-webkit-inner-spin-button,
#email-otp input::-webkit-outer-spin-button,
#email-otp input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#mobile-otp input[type="number"],
#email-otp input[type="number"] {
    -moz-appearance: textfield;
}

#login-otp-container .fa-pen-to-square {
    cursor: pointer;
}

.otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otp-field input {
    height: 42px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
    transition: border 0.3s ease;
}

.otp-field input:focus {
    border: 1px solid #333 !important;
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
    display: none;
}

#resendOtpBtn,
#mobile-otp-btn,
#email-tp-btn {
    background-color: transparent;
    border: 0;
    color: #ff6600;
    font-size: smaller;
}

.google-login-btn {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.54);
    font-size: small;
    border-radius: 3px;
    padding: 0.5rem;
}

.google-login-btn:hover {
    color: rgba(0, 0, 0, 0.54);
}

.facebook-login-btn {
    background-color: #1877f2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    font-size: small;
    border-radius: 3px;
    padding: 0.5rem;
}

.facebook-login-btn:hover {
    color: rgba(255, 255, 255, 1);
}


@media screen and (min-width:576px) {

    .login-containter .card {
        width: 350px;
    }
}

@media screen and (max-width:992px) {

    .login-containter .card {
        min-height: calc(100vh - 117px);
    }
}

@media screen and (max-width:767px) {

    .login-containter .card {
        min-height: calc(100vh - 111px);
    }
}