input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#formoid .form-label {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#formoid .form-control {
    height: 50px;
    background: #F5F5F5;
    border-radius: 0;
}

.payment-types .heading {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.payment-types .form-check-label {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.8;
}

.cart-items {
    background: #F5F5F5;
}

.cart-items img {
    height: 206px;
    object-fit: contain;
}

.cart-items .product-name {
    color: #17183B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.prod-details tr {
    height: 35px;
}

.prod-details .table-heading {
    color: #A2A3B1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.prod-details .table-value {
    color: #17183B;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.price-details {
    border-radius: 2px;
    border: 1px solid #D1D1D8;
    background: var(--White, #FFF);
    padding: 32px;
}

.price-details form {
    margin-bottom: 32px;
}

.price-details .input-group {
    border-radius: 2px;
    border: 1px solid #D1D1D8;
    padding: 8px 16px;
}

.price-details .form-control {
    border: 0 !important;
}

.price-details button {
    border-radius: 0px;
    width: 130px;
    padding: 4px 44px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.price-details .section-heading {
    color: #17183B;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 32px;
}

.price-details h6 {
    color: #17183B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.place-order-btn {
    height: 73px;
    padding: 18px 40px;
    border-radius: 18px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
}