/* .swiper {
    width: 100%;
    height: 100%;
}

.top-categories .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-img img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
}

.brand-img img {
    width: 85px;
    height: 85px;
    border-radius: 8px;
    object-fit: contain;
    border: 1px solid #ededed;
}

.top-categories .swiper-button-next,
.top-categories .swiper-button-prev {
    top: 43px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    transition: color 0.3s, transform 0.3s;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
    color: #ff6600;
    transform: scale(1.3);
}

.top-categories .swiper-scrollbar {
    width: 60px;
    transform: translateX(-50%);
}

.top-categories .swiper-scrollbar-draggable {
    cursor: grab;
}

.top-categories .swiper-scrollbar-draggable:active {
    cursor: grabbing;
}

.top-categories h5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: small;
}

.app_downalod_div_content {
    transform: translateY(20%);
}

@media (max-width: 570px) {
    .app_downalod_div_content {
        transform: translateY(-10%);
    }
}

@media (min-width: 570px) and (max-width: 772px) {
    .app_downalod_div_content {
        transform: translateY(90%);
    }
} */

.desktop-category-section {
    background-color: #F3F9FB;
    padding-top: 33px;
    padding-bottom: 55px;
}

.section-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
    position: relative;
    overflow: hidden;
}

.section-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--bs-primary);
    border-radius: 1.5px;
}

.index-page .view-all {
    color: #222222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.index-page .fa-chevron-right {
    color: var(--bs-primary);
    font-size: 16px;
}

.section-5-category-div img {
    width: 102px;
    height: 102px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 142, 204, 0.60);
    border-radius: 9999px;
    border: 1px solid var(--bs-warning);
}

.section-5-category-div .text-center {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.top-slider {
    --swiper-navigation-color: transparent;
    --swiper-pagination-color: #fff;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-navigation-size: 64px;
    --swiper-scrollbar-sides-offset: 50%;
    --swiper-pagination-bottom: 39px;
    --swiper-pagination-bullet-horizontal-gap: 4px;
}

.top-slider img {
    width: 95%;
    border-radius: 16px;
}

.top-slider .swiper-button-prev {
    background: #F3F9FB;
    border-radius: 50%;
    background-image: url("../../images/icons/arrow-left.svg") !important;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center center;
    width: 64px !important;
    border: 6px solid #ffffff;
    left: var(--swiper-navigation-sides-offset, 4px) !important;
    right: auto;
}

.top-slider .swiper-button-next {
    background: #F3F9FB;
    border-radius: 50%;
    background-image: url("../../images/icons/arrow-right.svg") !important;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center center;
    width: 64px !important;
    border: 6px solid #ffffff;
    left: auto;
    right: var(--swiper-navigation-sides-offset, 4px) !important;
}

.top-slider .swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 7px;
}

.top-slider .swiper-pagination {
    left: 90px !important;
}

.best-deal-section .swiper-slide:nth-child(odd) .product-card {
    border: 1px solid var(--bs-warning);
}

.best-deal-section .swiper-slide:nth-child(even) .product-card {
    border: 1px solid var(--bs-primary);
}

.best-deal-section .swiper-slide:nth-child(even) .product-card .card-text {
    border-bottom: 1px solid var(--bs-primary);
}

.event-section {
    background-color: #FFECDF;
}

.event-section-heading {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0em;
    color: #23262F;
    margin-bottom: 22px;
}

.event-section-des {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #23262F;
}

.event-section .event-card {
    border: none;
    background: transparent;
}

.event-section .event-card-img {
    height: 317px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.event-section .event-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.01em;
}

.top-brand-section .brand-img {
    height: 207px;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.testimonial-section-container {
    background-color: #FFECDF;
}

.testimonial-section .section-heading {
    color: #23262F;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: capitalize;
}

.testimonial-section .section-heading::after {
    display: none;
}

.testimonial-swiper {
    --swiper-navigation-color: var(--bs-primary);
    --swiper-pagination-color: var(--bs-primary);
    --swiper-navigation-size: 18px;
    --swiper-scrollbar-sides-offset: 50%;
}

.testimonial-section .swiper-navigation {
    gap: 20px;
}

.testimonial-section .swiper-navigation .swiper-btn-prev,
.testimonial-section .swiper-navigation .swiper-btn-next {
    width: 36px;
    height: 36px;
    transform-origin: 0 0;
    box-shadow: 0px 4px 10px rgba(15.09, 27.30, 51, 0.05);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-section .swiper-navigation .swiper-btn-prev {
    background: #ffffff;
}

.testimonial-section .swiper-navigation .swiper-btn-next {
    background: #286F6C;
}

.testimonial-section .swiper-navigation .swiper-btn-prev.swiper-button-disabled,
.testimonial-section .swiper-navigation .swiper-btn-next.swiper-button-disabled {
    opacity: 0.5;
    cursor: auto;
}

.testimonial-section .card {
    background: transparent;
    border: none;
}

.testimonial-section .customer-img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 9999px;
    object-fit: cover;
}

.testimonial-section .customer-name {
    color: #23262F;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    word-wrap: break-word;
}

.testimonial-section .customer-des {
    opacity: 0.50;
    color: #23262F;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    word-wrap: break-word;
}

.testimonial-section .customer-profile .d-flex {
    gap: 10px;
}

.testimonial-section .review {
    color: #23262F;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.80px;
    word-wrap: break-word;
}

.testimonial-section .review-img img {
    height: 189px;
    object-fit: contain;
    border-radius: 6px;
}

.multibanner-section img {
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

/* .multibanner-section .banner1 {
    height: auto;
}

.multibanner-section .banner2 {
    height: auto;
}

.multibanner-section .banner3,
.multibanner-section .banner4 {
    height: auto;
} */

@media(max-width: 767px) {
    .event-section .event-card-img {
        height: 193px;
    }

    .event-section .event-title {
        font-size: 14px;
        line-height: 30px;
    }
}

@media(max-width: 576px) {
    .section-heading {
        font-size: 16px;
        line-height: 30px;
    }
}