#mobile-otp input,
#email-otp input {
    padding: 0.53rem;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#login-otp-container .fa-pen-to-square,
#signup-otp-container .fa-pen-to-square {
    cursor: pointer;
}

.otp-field,
.phone-otp-field,
.email-otp-field {
    flex-direction: row;
    column-gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.otp-field input,
.phone-otp-field input,
.email-otp-field input {
    height: 42px;
    width: 42px;
    border-radius: 0px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #D9D9D9;
    background: #D9D9D9;
    transition: border 0.3s ease;
}

.otp-field input:focus,
.phone-otp-field input:focus,
.email-otp-field input:focus {
    border: 1px solid #333 !important;
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button,
.phone-otp-field input::-webkit-inner-spin-button,
.phone-otp-field input::-webkit-outer-spin-button,
.email-otp-field input::-webkit-inner-spin-button,
.email-otp-field input::-webkit-outer-spin-button {
    display: none;
}

.auth-image-container {
    background: rgba(203, 228, 232, 0.20);
}

.auth-image-container .heading {
    color: var(--bs-primary);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
}

.auth-image-container .des {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.auth-image-container .image img {
    width: 80%;
}

.form-container {
    min-height: 450px;
}

.form-container .heading {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.44px;
}

.form-container .des {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.form-container label {
    color: #000 !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.4;
}

.form-container .form-control {
    border: none;
    border-radius: 0;
    border-bottom: var(--bs-border-width) solid var(--bs-border-color);
    padding-left: .25rem !important;
}

.form-container .btn-primary {
    width: 155px;
    border-radius: 18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.form-container .next-page-div span {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.form-container .next-page-div a,
.form-container .next-page-div button {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.7;
    text-decoration: underline;
    border: none;
    background: transparent;
}

#login-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 767px) {
    .auth-image-container .heading {
        font-size: 16px;
        line-height: 18px;
    }

    .auth-image-container .des {
        font-size: 10px;
    }

    .form-container .heading {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.8px;
    }

    .form-container .des {
        font-size: 14px;
    }

    .form-container .next-page-div span,
    .form-container .next-page-div a,
    .form-container .next-page-div button {
        font-size: 14px;
    }
	
	.auth-image-container .image img {
		width: 40%;
	}

}