.orders-container {
    border-radius: 4px;
    border: 1px solid #000;
    background: #FFF;
}

.order-details hr.underline {
    opacity: 1;
}

.order-details .row:first-child .order-type {
    border-top-left-radius: 3px;
}

.order-details .order-type-rent {
    position: relative;
    background-color: var(--bs-warning);
    width: 100px;
    height: 100px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.order-details .order-type-rent .text {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    transform: rotate(-45deg);
    position: absolute;
    top: 54%;
    left: 10%;
    transform-origin: top left;
    transform-origin: 0% 0%;
    letter-spacing: 2px;
}

.order-details .order-type-purchase {
    background-color: var(--bs-primary);
    width: 140px;
    height: 100px;
    clip-path: inset(0 0 67% 0);
}

.order-details .order-type-purchase .text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}

.order-details .order-id {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.order-details .order-date {
    color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.order-details .prod-img {
    height: 194px;
    object-fit: contain;
    margin-top: -15px;
}

.order-details .prod-name {
    color: #17183B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.attributes {
    width: fit-content;
}

.attributes tr {
    height: 35px;
}

.attributes .attr-name {
    color: #A2A3B1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.attributes .attr-des {
    color: #17183B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
}

label#Color {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.order-status-div {
    padding: 6px;
    border: 1px solid #808080;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    width: fit-content;
}

.dates-div .text,
.review-div .text {
    color: #17183B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.review-div .stars {
    gap: 16px;
}

.review-div .review-btn {
    width: 162.054px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #A2A3B1;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.empty-order-image img {
    height: 350px;
}

.empty-order-image .heading {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 152.2%;
}

.empty-order-image .des {
    color: #9E9E9E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 152.2%;
}

.empty-order-image .btn {
    padding: 16px 48px;
    border-radius: 40px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media(max-width: 767px) {
    .empty-order-image img {
        height: 207px
    }

    .empty-order-image .heading {
        font-size: 20px;
    }

    .empty-order-image .des {
        font-size: 14px;
    }
}