#filtersContainer {
    background: #F5F5F5;
    border-radius: 0;
    height: calc(100vh - 124px);
    overflow-y: auto;
    position: sticky;
    top: 124px;
}

#filtersContainer h6.mb-3 {
    color: #90A3BF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#filtersContainer .form-check-label,
#filtersContainer .form-control {
    color: #596780;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 992px) {
    #filtersContainer {
        height: calc(100vh - 107px);
        top: 107px;
    }
}

@media (max-width: 768px) {
    .filter-top-bar {
        background-color: #fff;
        top: 42px;
        z-index: 99;
    }

    .filter-hr {
        position: sticky;
        top: 97px;
        z-index: 99;
    }
}


#filtersContainer::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#filtersContainer::-webkit-scrollbar-thumb {
    background-color: #999;
}

#filtersContainer {
    border-right: 1px solid #e4e4e4;
}

.filter-page-heading,
.filter-page-heading a {
    font-size: 14px;
}

.filter-prouct-row {
    border-top: 1px solid #e4e4e4;
}

@media (min-width: 768px) {
    #sort_data_id {
        width: 200px;
    }
}

.ratings-filter {
    margin-top: 0.1rem;
}

label.Color {
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

.rating_label {
    position: absolute;
    bottom: 20px;
    padding: 0 5px;
    color: #fff;
    background-color: rgb(244 37 37);
    text-transform: uppercase;
    font-weight: 900;
}

#clear-all-filter {
    color: var(--bs-primary) !important;
    border: none !important;
}

.see-more {
    display: none;
}

.collapsed .see-more {
    display: inline-block;
}

.collapsed .see-less {
    display: none;
}

.fa-angle-down {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
    margin-top: -6px;
}

.collapsed .fa-angle-down {
    transform: rotate(0deg);
    margin-top: -2px;
}

.noui-slider-div {
    padding-left: 0.75rem;
    padding-right: 0.60rem;
}

.noui-slider-range {
    height: 10px;
}

.noui-slider-range.noUi-target {
    background: #90A3BF;
    border: none;
    box-shadow: none;
}

.noui-slider-range .noUi-connect {
    background: var(--bs-primary);
}

.noui-slider-range .noUi-handle {
    height: 24px;
    width: 24px;
    top: -7px;
    right: -9px;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: none;
    background: var(--bs-primary);
}

.noui-slider-range .noUi-handle:after,
.noui-slider-range .noUi-handle:before {
    display: none;
}