.top-bar {
    height: 41.57px;
}

.topbar-text {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0em;
}

@media(max-width: 767px) {
    .top-bar {
        height: 25px;
    }

    .topbar-text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media(max-width: 576px) {
    .top-bar {
        height: 14px;
    }

    .topbar-text {
        font-size: 8px;
        line-height: 15px;
    }
}